* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif ; 
}
.ImgM{
    padding-top: 5px;
}
.header{
    display: flex; justify-content: space-between;
    padding-bottom:7px; padding-right: 200px; padding-left: 200px; padding-top: 7px;
    font-size: small;
}
.imgL{
    padding-top: 4px;
}
.RightS{
    padding-top: 4px;
}
.toplink{
    font-weight: 500; font-size: 15px;
    cursor: pointer;
    color: grey;
    padding-left: 40px;
}
.mainH{
    font-size: 35px; font-weight: 700;
}
.Info{
    display: flex; 
    justify-content: space-between; 
    gap:80px;
    padding-top: 50px; padding-right: 100px;
    padding-left: 100px;
    color: rgb(52, 51, 51);    
}
.SignB {
    padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px; 
    background-color: cornflowerblue;
    border: 0; border-radius: 5px;
    cursor: pointer;
    font-weight: 500; font-family: 'Inter', sans-serif;
}
.leftS a{
    text-decoration: none;
    color: rgb(90, 84, 179) ;
}    
.ecosystem{
    margin-right: 100px; 
    flex-direction: column;
}  
.leftI{
    margin-left:100px;
}
.ecosystem a{
    text-decoration: none;
    text-align: center;
    color: deepskyblue;
}
.text-center{
    display: flex; justify-content: space-evenly;
    padding-left: 80px; padding-right: 80px;
}
.pressImg{
    width: 720px;
    padding-top: 40px; padding-left: 450px; padding-right: 450px;
    cursor: pointer;
}
.pricing{
    display: flex; justify-content: space-around; gap: 60px;
    padding-left: 200px; padding-right: 200px; padding-top: 40px;
}
.tradesImg{
    width: 100%;
    padding-top: 50px;
}
.pricing p{
    padding-right: 50px;
}
.SeePricing{
    padding-left: 200px;
}
.SeePricing a{
    text-decoration: none;
    color: deepskyblue;
}






